In [7]:
import pandas as pd

In [13]:
ethusdt_data = pd.read_csv('ethusdt_data.csv')

# transform data

# remove ignore column

In [15]:
# columns to remove
column_to_remove = 'ignore'

# Remove the specified column
ethusdt_data.drop(columns= column_to_remove, inplace=True)

# Convert 'open_time' and 'close_time' columns to datetime format

In [16]:
# Convert 'open_time' and 'close_time' columns to datetime format
ethusdt_data['open_time'] = pd.to_datetime(ethusdt_data['open_time'], unit='ms')
ethusdt_data['close_time'] = pd.to_datetime(ethusdt_data['close_time'], unit='ms')

# Time Aggregation: Resample data to daily intervals

In [17]:
# Time Aggregation: Resample data to daily intervals
ethusdt_data['date'] = ethusdt_data['open_time'].dt.date  # Extract date from 'open_time'
ethusdt_data_resampled = ethusdt_data.groupby('date').agg({
    'open': 'first',
    'high': 'max',
    'low': 'min',
    'close': 'last',
    'volume': 'sum',
    'quote_volumn': 'sum',
    'number_of_trades': 'sum',
    'taker_buy_volume': 'sum',
    'taker_buy_quote_volume': 'sum'
}).reset_index()

In [18]:
ethusdt_data_resampled.to_csv('ethusdt_data_resampled.csv')

# Feature engineering: Calculate price differences and percentage changes

In [19]:
# Convert 'open' and 'close' columns to numeric type
ethusdt_data_resampled['open'] = pd.to_numeric(ethusdt_data_resampled['open'], errors='coerce')
ethusdt_data_resampled['close'] = pd.to_numeric(ethusdt_data_resampled['close'], errors='coerce')

In [20]:
# Feature engineering: Calculate price differences and percentage changes
ethusdt_data_resampled['price_diff'] = ethusdt_data_resampled['close'] - ethusdt_data_resampled['open']
ethusdt_data_resampled['price_change_percentage'] = ((ethusdt_data_resampled['close'] - ethusdt_data_resampled['open']) / ethusdt_data_resampled['open']) * 100

In [22]:
ethusdt_data_resampled

,date,open,high,low,close,volume,quote_volumn,number_of_trades,taker_buy_volume,taker_buy_quote_volume,price_diff,price_change_percentage
0,2024-05-29,3764.26,3792.99,3742.59,3767.43,63980.2511,2.409220e+08,206627,34830.9766,1.311730e+08,3.17,0.084213
1,2024-05-30,3767.44,3825.35,3702.58,3747.91,277034.2894,1.042146e+09,765716,135950.1498,5.115167e+08,-19.53,-0.518389
2,2024-05-31,3747.90,3849.94,3723.75,3762.29,273406.7660,1.032174e+09,680329,136551.9833,5.155771e+08,14.39,0.383948
3,2024-06-01,3762.29,3833.30,3752.67,3815.82,132687.2006,5.035006e+08,399377,70367.6098,2.670686e+08,53.53,1.422804
4,2024-06-02,3815.82,3838.59,3752.62,3780.71,193941.5897,7.361858e+08,532249,97699.0099,3.708502e+08,-35.11,-0.920117

In [23]:
ethusdt_data_resampled.to_csv('ethusdt_data_resampled.csv', index=False)